.google-map-container{
  width: 77vw;
  height: 99vh;
}

.info-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
}

.info-col{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.map-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: lightgray;
}

.map-col{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
}

.left-pad-10{
  padding-left: 10px;
}

.btm-pad-10{
  padding-bottom: 10px;
}

.right-pad-10{
  padding-right: 10px;
}

.legend-row{
  display: flex;
  flex-direction: row;
}

.legend-column{
  display: flex;
  flex-direction: column;
}

.legend-col{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.desc-row-title{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  font-size: 19px;
}

.desc-row-value{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  font-size: 15px;
}

.desc-col{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.desc-cols{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}