.google-map-container{
  width: 82.675vw;
  height: 100vh;
}

.info-col{
  display: flex;
  flex-direction: column;
}

.info-container{
  width: 17vw;
  height: 100vh;
}

.map-row{
  display: flex;
  flex-direction: row;
}

.map-col{
  display: flex;
  flex-direction: column;
}

.legend{
  display: flex;
  padding-left: 10px;
}

.desc-row{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.desc-col{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}