.google-map-container{
  width: 77vw;
  height: 99vh;
}

.info-row{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
  padding-left: 10px;
}

.info-row-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
}


.info-col{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.map-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: lightgray;
}

.map-col{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
}

.left-pad-10{
  padding-left: 10px;
}

.btm-pad-10{
  padding-bottom: 10px;
}

.right-pad-10{
  padding-right: 10px;
}

.legend-row{
  display: flex;
  flex-direction: row;
}

.legend-column{
  display: flex;
  flex-direction: column;
}

.legend-text{
  font-size: 13px;
  padding-right: 20px;
}

.add-desc-lat-lng{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  margin-right: 95px;
}

.desc-row-title{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.desc-row-value{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  font-size: 14px;
}

.desc-submit{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 15px;
}

.desc-col{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.desc-cols{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.new-camp-btn{
 border:1px solid black;
 border-radius: 5px;
 font-size: 20px;
 padding-left: 40px;
}

.add-site-btn{
  padding-bottom: 20px;
}

.back-arrow-title-row{
  display:flex;
  flex-direction: row;
}

.back-arrow-col{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.back-arrow-btn{
  padding-top: 5px;
}

.title-col{
  display: flex;
  flex-direction: column;
}

.btn-text{
  font-size: 20px;
}